{% extends "shared/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block journeyContent %}
  <h1 class="govuk-heading-l">{{ heading }}</h1>
  <p class="govuk-body">{{ copy.body }}</p>

  <form method="post" action="{{ cancelAction }}" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}" />
    <input type="hidden" name="concurrencyToken" value="{{ concurrencyToken }}" />
    <div class="govuk-button-group">
      {{ govukButton({ text: copy.confirmButton }) }}
      {{ govukButton({
        text: copy.noLink,
        href: noHref,
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </form>
{% endblock %}
