@use "../../../../node_modules/govuk-frontend" as *;
@use "../variables/colours" as *;

.notification-list {
  &__layout {
    margin-top: govuk-spacing(6);
  }

  &__filters {
    background-color: $app-light-grey;
    padding: govuk-spacing(4);
  }

  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: govuk-spacing(3);
    margin-bottom: govuk-spacing(4);
  }

  &__results {
    margin: 0;
  }

  &__sort-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: govuk-spacing(3);
    min-width: 0;

    .govuk-form-group {
      width: auto;
      margin-bottom: 0;
    }

    .govuk-button {
      margin-bottom: 0;
    }
  }

  &__search-form {
    .govuk-form-group {
      margin-bottom: govuk-spacing(4);
    }

    .govuk-button {
      margin-bottom: 0;
    }
  }

  &__card-row {
    margin-top: 0;
    margin-bottom: govuk-spacing(3);

    &:last-child {
      margin-bottom: 0;
    }

    dt {
      @include govuk-font($size: 16, $weight: bold);
      margin-bottom: govuk-spacing(1);
    }

    dd {
      @include govuk-font($size: 19);
      @include govuk-text-break-word;
      margin: 0;
    }
  }
}

@include govuk-media-query($until: tablet) {
  .notification-list {
    &__toolbar {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
