@use "../../../../node_modules/govuk-frontend" as *;

.notifications-pagination {
  display: flex;
  justify-content: space-between;
  padding-top: govuk-spacing(4);
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(2);

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    text-decoration: none;

    &:hover .notifications-pagination__page,
    &:focus .notifications-pagination__page {
      text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    }
  }

  &__label {
    display: block;
    @include govuk-font($size: 19, $weight: bold);
  }

  &__arrow {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
  }

  &__page {
    display: block;
    margin-top: govuk-spacing(1);
    @include govuk-font($size: 16);
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }

  &__item--next {
    text-align: right;
    margin-left: auto;
  }
}

@include govuk-media-query($until: tablet) {
  .notifications-pagination {
    flex-direction: column;
    gap: govuk-spacing(3);

    &__item--next {
      text-align: left;
      margin-left: 0;
    }
  }
}
